.env*
.idea/
certs/**/*
certs-data/**/*
logs/**/*
nginx/
mysql/**/*
wordpress/**/*
!.env_example
!nginx/default*

!certs/.keep
!certs-data/.keep
!logs/.keep
!logs/nginx/.keep
!mysql/.keep
!wordpress/.keep
